		html
		{
			scroll-behavior: smooth;
		}
		nav,main,h1,h2,h3
		{
			font-family: 'Fredoka One', cursive;
			

		}
		nav,main{
			font-size: 13px;
		}
		main
		{
			margin-top: -20px;
		}
		h4
		{
			font-family: 'Source Sans Pro', sans-serif;
		}
		.navigation
		{
			position: fixed;
			width: 100%;
			margin-top: 20px;
			z-index: 99;
		}
		#brand
		{
			height: 60px;
			margin-top: -20px;
			transition:0.2s;
		}
		#brand:hover
		{
			margin-left:5px;
			transition:0.2s;
		}

		.navbar , .navbar-inverse
		{
			border-radius: 0px;
			background-color: #000;
			padding: 10px 0px;
		}
		li.active a
		{
			background-color: #ff6200!important;
			border-radius: 5px;
		}
		li a:hover
		{
			margin-top: -2px;
			transition:0.2s;
		}
		footer
		{
			background-color: #000;
			bottom: 0;
           margin-bottom: 0px;
            width: 100%;
		
			display: block;
			font-size: 12px;
			text-align: center;
		}
		footer div
		{
			display: block;
			margi-n-left: 15px;

			
		}
		.social-team
		{
			margin-bottom: 10px;
			display: block;
		}
		.social-img
		{
			
			height: 35px;
			float: center;
			transition:0.2s;
		}
		a>.social-img:hover
		{
			opacity: 0.5;
			transition:0.2s;
		}
		.invert
		{
			filter:invert(100%);
		}

		#footer-brand
		{
			height: 50px;
			margin: 10px;
			float: left;
		}
		#footer-info
		{
			margin-top: 20px;
			float: left;

		}
		.redes{
			float: center;
			margin:25px;
		}
		.redes img
		{
			height:30px;
		}
		.redes img:hover
		{
			opacity: 0.5;

		}
		   .titulo-juego
	    {
	    	padding: 10px;
	      margin-left: 5%;
	  	 color:white; position:absolute;
	  	font-size: 60px;
	    text-shadow:2px 2px 0px black;
	    background-color: black; 

	    }
	    .descripcion-juego
	    {
	    	padding: 10px;
	      margin-left: 5%; margin-top: 10%; font-size: 25px;color:white; position:absolute;
	    text-shadow:2px 2px 0px black;
	    background-color: black; 
	    }
	    .item img
	    {
	    	overflow: hidden;
	    	width: 100%; 

	    }
	    .games
	    {
	    	width:100%;
			overflow: hidden;
	    }
	    .games-box
	    {
	    	overflow: hidden;
	    	padding :0px;!important;
	    }
	    .game-name
	    {

	    	background-color: rgba(0,0,0,0); width: 100%;height: 100%; position: absolute;
	    	
	    	color:rgba(0,0,0,0);
	    	transition: 0.2s;
	    	overflow: hidden;

	    	
	    }
	    .game-name h2
	    {
	    	margin-left: 15px;
	    }
	    .game-name:hover
	    {
	    	background-color: rgba(0,0,0,0.7); width: 100%;height: 100%; position: absolute;
	    	
	    	color:rgba(255,255,255,1);
	    	transition: 0.2s;
	    	overflow: hidden;

	    	
	    }
	    .orange-title h1{
	    	background-color: #ff6200;
	    	color:white;
	    	box-shadow: 1px 2px 5px black;
	    }
	    .btn-orange
	    {
	    	background-color: #ff6200;
	    	color:white;
	    	box-shadow: 1px 2px 5px black;
	    }
	     .btn-orange:hover
	    {
	    	background-color: #ff6200;
	    	color:white;

	    	box-shadow: 0px 0px 0px black;
	    	transition: 0.2s;
	    }
	     .btn-orange:focus
	    {
	    	
	    	color:white;
	    	
	    	
	    }
	    .equipo
	    {
	    	width:250px;
			border-radius: 50%;
			border-style: solid;
			border-color: #ff6200;
			border-width: 8px;
			
	    }
		.contact
		{
			padding: 2px;
			height: 40px;
		}
	
		p
		{
			text-align:justify;
		}
	    .titulos
	    {
	    	padding-left: 10px;
	    	font-size:30px;
	    }

	  @media screen and (min-width:1190px)
	   {

		   .titulo-juego,.descripcion-juego{
            display:block!important;
        }
          footer
        {
        		padding: 10px 0px;
        }
        .redes{
			float: right;
			
		}
		  .games-box
	    {
	    	margin-bottom: 0px;

	    }
       }
    
     @media screen and (max-width:1187px) {
         .titulo-juego,.descripcion-juego{
            display:none!important;
        }
        footer
        {
        		padding:0px;
        }
          .redes{
			float: center;
			
		}
		  .games-box
	    {
	    	margin-bottom: 10px;

	    }
	    
    }
	